body {
    background: #1d1f21 none;
    color: #c5c8c6;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

form#delform {
    /* change to your liking */
    max-width: 130vmin !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

div.pagelist {
    border: none;
    background: none;
    border-right: none;
    border-bottom: none;
}

a,
a:visited,
a:hover,
div#boardNavDesktop a,
.quoteLink,
.quotelink,
.deadlink,
.pageJump a,
a.replylink,
div#absbot a,
a.replylink:not(:hover),
div#absbot a:not(:hover),
.burichan_new .backlink a,
.yotsuba_b_new .backlink a {
    color: #8596bb !important;
    text-decoration: none;
}

div.post.reply.preview.inlined {
    margin-bottom: 0.5rem;
    border: 1px solid #6e6e6e !important;
}

hr#op,
.navLinks.desktop {
    clear: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

div#ctrl-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thread-stats {
    float: none;
    margin-left: 5px;
    cursor: default;
}

div.closed {
    font-size: large;
    text-align: center;
    color: red;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#threadWatcher,
#post-preview {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.postInfo.desktop a.quotelink {
    background-color: #8596bb;
    border-radius: 999rem;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    white-space: nowrap;
    padding: 0px 5px;
    color: #1d1f21 !important;
}

.backlink span {
    padding-right: 1px;
}

.yotsuba_b_new #watchList li:first-child {
    border-top: none;
}

.postInfo input[type="checkbox"] {
    display: none;
}

div.post div.postInfo span.postNum a:hover,
.posteruid .hand:hover {
    color: #cccccc !important;
}

div.backlink {
    font-size: x-small !important;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#qrForm>div:nth-child(4) {
    display: flex;
    justify-content: center;
    padding-top: 4px !important;
    padding-bottom: 0.5rem !important;
    clear: both !important;
}

.extButton {
    cursor: pointer;
    margin-bottom: -4px;
    filter: contrast(1.5) brightness(.85) saturate(0.7);
}


#quickReply {
    display: block;
    position: fixed;
    font-size: 10pt;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type=text],
input[type=password],
table.postForm>tbody textarea,
#quickReply #recaptcha_response_field,
#recaptcha_response_field,
#quickReply textarea {
    font-family: arial, helvetica, sans-serif;
    color: inherit;
    font-size: 10pt;
    min-width: 300px;
    border: 1px solid #282a2e !important;
    background-color: #0000004d ;
    border-radius: 4px ;
    margin: 1px;
    padding: 3px;
}

#qrForm>div:nth-child(4) input[type=text]:focus,
input[type=password]:focus,
input:not([type]):focus,
textarea:focus {
    background-color: #282a2e;
}

div.boardBanner,
.globalMessage {
    color: inherit;
}

#qrFile {
    width: 230px;
    color: #c5c8c6 !important;
}

#qrForm>select {
    border: 1px solid #575a60;
    background-color: #282a2e;
    color: #aaa;
    margin-bottom: 10px;
}

#quickReply input[type="submit"],
input[type=file]::file-selector-button {
    border-radius: 4px;
    border-style: solid;
    border-color: #c5c8c6;
    background: #282a2e;
    color: #c5c8c6;
    height: 2em;
}
select.flagSelector {
    border-radius: 4px;
    border-style: solid;
    border-color: #c5c8c6;
    background: #282a2e;
    color: #c5c8c6;
}

div.reply,
.preview,
#threadWatcher,
#post-preview,
.reply:target,
.reply.highlight {
    background-color: #282a2e !important;
    border: 1px solid #282a2e !important;
    display: table !important;
    padding: 0.5rem 0.8rem !important;
    border-radius: 8px !important;
}

.reply:target,
.reply.highlight {
    border: 1px solid #808080 !important;
}

#quote-preview,
#yt-preview,
.yotsuba_b_new #quote-preview.highlight {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #808080 !important;
}

div.post div.file .fileThumb img {
    border: none;
    float: left;
    border-radius: 8px;
}

#image-hover {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

blockquote>span.quote {
    color: #95c976;
}

div.post div.postInfo span.nameBlock span.name {
    color: #c9c48a;
    font-weight: 700;
}

div.postInfo,
span.dateTime,
span.postNum,
span.summary {
    font-size: small;
}

.fileText {
    font-weight: bold;
    font-size: smaller;
    margin-bottom: 0.3rem;
}

div#boardNavDesktop {
    color: #616161;
}

div.post div.postInfo span.subject {
    color: #ef7eff;
    font-weight: 700;
}

hr,
div.adl,
div.sideArrows,
div.middlead.center {
    display: none;
}

/* Blockquote this rule if you already hide modposts manually.
This rule will block thread numbers regardless of board.
It may not affect your usage. */
#t124205675,
#t259848258,
#t1990691,
#t1436774,
#t76759434,
#t6226033,
#t3743858,
#t4551312,
#t23385784,
#t27429060,
#t22251386,
#t3715226,
#t2359499,
#t12370429,
#t9112225,
#t521528,
#t3145651,
#t1,
#t6775606,
#t2,
#t739,
#t2172921,
#t6872254,
#t1579290,
#t23675577,
#t37842102,
#t1654916,
#t3279425,
#t886269,
#t2565057,
#t561987,
#t133810,
#t4884770,
#t45310862,
#t7196511,
#t670504,
#t6310205,
#t70348194,
#t248316,
#t433747,
#t243077,
#t2143756,
#t27939,
#t153692319,
#t153692319,
#t17557914,
#t48186754,
#t6,
#t38571,
#t570368,
#t5942502,
#t17318579,
#t15396072,
#t49273753,
#t1973636,
#t957536,
#t21676943 {
    display: none;
}

div.thread {
    padding: 12px;
    clear: both;
}

div.post blockquote.postMessage {
    display: block;
    margin-left: 2em;
}

table.postForm>tbody>tr>td:first-child {
    font-weight: 700;
    border: 1px solid #707070;
    padding: 0 5px;
    font-size: 10pt;
    background-color: inherit;
    color: inherit;
}

#t-root {
    overflow: hidden;
    box-sizing: border-box;
    background: inherit;
    border: none;
    margin: 2px 0;
    width: 300px;
}



.postblock {
    background-color: #282a2e;
    color: #c5c8c6;
    font-weight: 500;
    border: none;
    padding: 0 5px;
    font-size: 10pt;
}

div#absbot {
    text-align: center;
    font-size: x-small !important;
    padding-bottom: 4px;
    padding-top: 10px;
    color: inherit;
}
